body {
  margin: 0;
  background-color: #00000F;
  color: #fff;
  font-family: "Cascadia Code", monospace; /* Используем только Cascadia Code */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

#terminal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 10px;
  width: 100%;
  max-width: 500px;
  white-space: pre-wrap;
  position: relative;
  border: none; /* Убираем рамку */
}

#title {
  font-size: 24px;
  margin-bottom: -40px; /* Отрегулировал отступ */
  color: #d375bc;
}

#info {
  font-size: 16px;
  margin-bottom: -40px; /* Увеличил отступ для лучшего внешнего вида */
  color: #fff;
  line-height: 1.5;
}

#menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

#info strong {
  color: #d375bc;
}

.menu-item {
  padding: 8px 16px;
  margin: 5px;
  border: 1px solid #d375bc;
  flex: 1;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.menu-item:not(:last-child) {
  margin-right: 10px;
}

.menu-item:hover,
.menu-item.selected {
  background-color: #d375bc;
  color: #000;
}

.footer-link {
  color: #fff;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

#footer {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#cursor {
  width: 10px;
  height: 20px;
  background-color: #da8cc6;
  animation: blink 0.8s step-end infinite;
  margin-left: 5px;
}

@keyframes blink {
  0%, 50% {
      opacity: 1;
  }
  51%, 100% {
      opacity: 0;
  }
}

/* Медиазапросы для мобильных устройств */
@media (max-width: 768px) {
  #terminal {
      padding: 10px; /* Убираем рамку */
  }

  #menu {
      flex-direction: row; /* Кнопки располагаются по горизонтали */
      justify-content: center;
      width: 100%;
  }

  .menu-item {
      margin: 5px;
      width: auto; /* Кнопки будут иметь свою ширину */
      flex: none; /* Убираем растягивание кнопок на всю ширину */
  }
}