body {
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#terminal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 10px;
    width: 100%;
    max-width: 500px;
    white-space: pre-wrap;
    position: relative;
    border: none;
    z-index: 1;  /* Добавляем z-index, чтобы он был выше остальных элементов */
}

#title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
}

#info {
    font-size: 16px;
    margin-bottom: 10px;
    color: #fff;
    line-height: 1.5;
    z-index: 1;  /* Убедитесь, что текст в блоке info находится выше кнопок */
    position: relative; /* Позволяет добавлять z-index */
}

#menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    z-index: 1;  /* Убедитесь, что меню остается на своем месте */
}

.menu-item {
    padding: 8px 16px;
    margin: 5px;
    border: 1px solid #fff;
    flex: 1;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.menu-item:not(:last-child) {
    margin-right: 10px;
}

.menu-item:hover,
.menu-item.selected {
    background-color: #fff;
    color: #000;
}

.footer-link {
    color: #fff;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

#footer {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cursor {
    width: 10px;
    height: 20px;
    background-color: #fff;
    animation: blink 0.8s step-end infinite;
    margin-left: 5px;
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    51%, 100% {
        opacity: 0;
    }
}

/* Медиазапросы для мобильных устройств */
@media (max-width: 768px) {
    #terminal {
        border: none; /* Убираем рамку */
        padding: 10px;
    }

    #menu {
        flex-direction: row; /* Кнопки располагаются по горизонтали */
        justify-content: center;
        width: 100%;
    }

    .menu-item {
        margin: 5px;
        width: auto; /* Кнопки будут иметь свою ширину */
        flex: none; /* Убираем растягивание кнопок на всю ширину */
    }
}
